@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-price: #26293A;
    --color-feature: #919191;
    --color-boton: #fff;
}

body{
    font-family: "Roboto", sans-serif;
}

.card{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(3600deg, var(--color-price) 50%, var(--color-boton) 50%);
    flex-wrap: wrap; /*Cuando el elemento no entra se baja el sobrante*/
    gap: 20px;
}

.card_item{
    max-width: 350px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    padding: 40px 0;
    background: #fff;
    border-radius: 10px;
}

.card_item--active{
    background: rgb(0, 136, 247);
    --color-price: #fff;
    --color-feature: #fff;
    --color-boton: #26293A;
}

.card_plan{
    color: var(--color-price);
    margin-bottom: 20px;
}

.card_price{
    font-size: 3rem;
    color: var(--color-feature);
}

.card_feature{
    color: var(--color-feature);
    margin-bottom: 30px;
}

.card_feature--margin{
    margin: 40px;
}

.card_cta{
    display: inline-block;
    background: var(--color-price);
    color: var(--color-boton);
    width: 190px;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.card_feature:nth-last-of-type(1){
    margin-bottom: 50px;
}

@media screen and (max-width: 800px){

    .card{
        background: #fff;
    }

    .card_item{
        width: 45%;
        margin: 15px 0;
    }
    
}

@media screen and (max-width: 500px){

    .card_item{
        width: 90%;
    }
    
}

