*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    height: 600px;
    outline: 2px solid #000;
    margin: 30px auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; 
    justify-content: center;
    align-content: center; */

    /* flex-flow: column wrap; */
    /* justify-content: space-evenly; */

    /* align-items: center; */

    /* order: 0; */

}

.item{
    width: 80px;
    --height: 80px;
    background:tomato ;
    height: var(--height);
    line-height: var(--height);
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
    /* flex: 1 1 0; */

    /* flex: 1; */

    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    /* flex-basis: 0; */
    
}

.item1{
    /* order: 0; */
    /* align-self: center;
    height: auto; */
}

.item2{
    background: darkslateblue;
    /* align-self: flex-end; */

}

.item3{
    background: crimson;
    /* order: -1; */
    margin: auto;

}

.item4{
    background: steelblue;
}

/* @media  screen and (min-width: 600px){
    .container{
        flex-direction: column;
    }

    .item4{
        order: -1;
    }
    
} */
