*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    height: 100vh;
}

.clip-path{
    margin: auto;
    width: 700px;
    height: 400px;
    background: linear-gradient(crimson, blue);
    /* clip-path: circle(50% at center right); */
    /* clip-path: inset(30px round 20px); */
    /* La posiciones en clip-path son apartir de: top, right, bottom, left */
    /* clip-path: ellipse(80px 120px); */
    /* clip-path: polygon(0 100%, 50% 0, 100% 100%); */
    /* clip-path: polygon(50% 0, 0 38%, 18% 100%, 82% 100%, 100% 38%); */
    clip-path: url(#Recorte);
}