*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: 0 auto;
}

.box{
    background: steelblue;
    color: white;
    width: 55px;
    height: 55px;
    margin: 10px 0;
    margin-left: 5px;
    text-align: center;
    line-height: 55px;
    font-weight: bold;
}

.container{
    margin-left: -5px;
    padding: 10px 0;
    border: 3px solid red;
}

/* FIltraremos elemento mediante su tipo */

/* .box:only-of-type{
    background: red;
} */

/* .box:first-of-type{
    background: red;
} */

/* .box:last-of-type{
    background: red;
} */
 
/* .box:nth-of-type(odd){
    background: red;
} */

/* .box:nth-of-type(even){
    background: red;
} */

/* .box:nth-of-type(n){
    background: red;
} */

/* .box:nth-of-type(2n+1){
    background: red;
} */

/* .box:nth-last-of-type(2){
    background: red;
} */

/* .container :only-child{
    background: red;
} */

/* div:first-child{
    background: red;
} */

/* div:last-child{
    background: red;
} */

/* div:nth-child(odd){
    background: red;
} */

/* .container :nth-child(2){
    background: red;
} */

/* body :nth-child(1){
    background: red;
} */

.container :nth-last-child(1){
    background: red;
}